header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/busan.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: poppins, sans-serif;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

header a.learn-more-link {
  background-color: white;
  border-radius: 3px;
  color: black;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 14px 25px;
  text-decoration: none;
  margin-top: 30px;
}

header h1 {
  font-size: 78px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.7;
  margin: 0px auto;
}

header h2 {
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

header h3 {
  font-size: 22px;
  font-weight: 450;
  font-style: normal;
  letter-spacing: 5px;
  margin: 0;
}

body {
  margin: 0;
}

li {
  list-style-type: none;
}

ul li a {
  color: white;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/footer-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: poppins, sans-serif;
  padding: 60px 0;
}

footer h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 480;
}

footer p,
ul li {
  font-size: 14px;
  opacity: 0.8;
}

ul li:hover {
  font-size: 14px;
  opacity: 1;
}

footer ul {
  padding: 0;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1400px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 30px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 40px;
    line-height: 1;
    margin: 15px auto;
  }

  header h2 {
    font-size: 18px;
  }

  header h3 {
    font-size: 13px;
  }
}
